body {
    font-family: Montserrat, sans-serif;
    background-color: #282c36; /* Dark background color for dark mode */
    color: #ffffff; /* Text color for dark mode */
  }
  
  h1 {
    font-size: 2em;
    font-weight: bold;
    color: #ff4d4d; /* Color for h1 tags (red) */
  }
  
  p {
    font-family: Roboto, sans-serif;
  }
  
  input, label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    /* background-color: #552f5a; Input and label background color for dark mode (purple) */
    font-family: Roboto, sans-serif;
  }
  
  label {
    text-align: left;
    color: #ffffff
  }
  
  input {
    color: #282c36;
  }
  
  form {
    margin: 20px auto;
    padding: 10px;
    max-width: 400px; /* Adjust the max-width as needed */
    border: 1px solid #ffffff; /* Border color for form */
    text-align: center;
  }
  
  /* Add this to your existing CSS */
  
  a {
    color: #ff6666; /* Default color for links in dark mode (red) */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for link color changes */
  }
  
  a:hover {
    color: #ff4d4d; /* Color for links on hover in dark mode (red) */
  }
  
  a.active {
    color: #ff4d4d; /* Color for the active link in dark mode (red) */
  }
  
  /* Add this to your existing CSS */
  
  button {
    font-family: Montserrat, sans-serif;
    padding: 10px;
    width: 70%;
    box-sizing: border-box;
    background-color: #ff4d4d; /* Adjust the color according to your app theme (red) */
    color: #552f5a; /* Text color for the button (purple) */
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition for background color changes */
    margin: 0 auto;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #ff6666; /* Adjust the color for button hover state (lighter red) */
  }
  
  #formbody {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  #formbody h1 {
    font-family: Roboto, sans-serif;
  }

  ul {
    width: 100%;
  }